body{
    background-color: rgb(205, 167, 255);
    text-align: center;   
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1{ color: rgb(66, 10, 119); 
    font-family:initial
}
.cor{
    background-color: rgb(199, 138, 248);
}
#t2{
    color: brown;
}